venv/
output/
.DS_Store
*.avi
results/
recordings/
**/*.pyc

# Hide all pyc files
**/*.pyc
# Hide pycache files
__pycache__/
*.pyc
# Python bytecode files
*.pyc
*$py.class
# Python cache directories
__pycache__/
*/__pycache__/
*/*/__pycache__/
**/__pycache__/
Analysis/analyse_individual_experiment.m
